#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.heading span {
  font-size: 1.6em;
}

.subHeading span {
  color: #959595;
}

.profileCard {
  display: flex;
  margin: 20px 0;
}

.name {
  color: #a9cb87; 
}

.location {
  display: flex;
}

.location div :nth-child(1){
  margin-right: 20px;
}

.profileImage {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.profileImage img {
  border-radius: 50%;
  width: 50%;
}

.profileDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.selectProfileIcon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.selectProfileIcon img {
  width: 35%;
}

.inviteEmail {
  width: 100%;
}

.inviteEmail input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  height: 40px;
  background-color: white;
  color: #959595;
  border: 1px solid #959595;
}

.footer button {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background-color: #ea4c88;
  border: 2px solid #c94978;
  border-radius: 5px;
}
